<!DOCTYPE HTML>
<html>
  <head>
    <title>{{blogTitle}}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <style>
      .container {
        padding: 1em 2em 4em 2em;
      }
      header h1 a {
        padding: 8px;
        color: #ffffff;
        background-color: #db4d3f;
      }
      .date {
        font-size: 0.8em;
        color: #888888;
      }
      .posts {
        list-style: none;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          <a href="index.html">{{blogTitle}}</a>
        </h1>
      </header>
      <section>
        <ul class="posts">
        {{#posts}}
          <li>
            <p>
              <span class="date">{{date}}</span> <a href="{{path}}">{{title}}</a>
            </p>
          </li>
        {{/posts}}
        </ul>
      </section>
    </div>
  </body>
</html>