<!DOCTYPE HTML>
<html>
  <head>
    <title>{{blogTitle}} - {{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <style>
      .container {
        padding: 1em 2em 4em 2em;
      }
      header h1 a {
        padding: 8px;
        color: #ffffff;
        background-color: #db4d3f;
      }
      .title {
        padding-bottom: 0;
      }
      .date {
        margin-top: 0;
        color: #888888;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          <a href="index.html">{{blogTitle}}</a>
        </h1>
      </header>
      <article>
        <h1 class="title">{{title}}</h1>
        <p class="date">{{date}}</p>
        {{{body}}}
      </article>
    </div>
  </body>
</html>